:root{
    color-scheme: light dark;
}

body {
    padding: 0 20%;
  }

figure {
    border: 2px solid black;
    text-align: center;
    width: min-content;
    background-image: linear-gradient(180deg, gray, canvas);
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
}

figure > img {
    border-radius: inherit;
    max-width: inherit;
}

ol li {
    border: 11px solid black;
    border-image: radial-gradient(closest-side, field 50%, canvas 110%) 10;
    font-family: garamond, Georgia, 'Times New Roman', Times, serif;
}

footer{
    border: 1px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    bottom: -1px;
    width: 100%;
    left: 0;
    background-color: buttonface;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style: none;
}

nav * {
    display: inline;
}

.ident {
    color: canvastext;
}